
.titulo {
    font-size: medium;
    color: black;
    background-color: white;
}

.linha1 {
    font-size: medium;
    color: black;
    background-color: white;
}

.linha2 {
    font-size: medium;
    color: black;
    background-color: white;
}

.linha3 {
    font-size: medium;
    color: black;
    background-color: white;
}